.task {
  background: var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 0.875rem;
}

.task + .task {
  margin-top: 1rem;
}

.task span {
  line-height: 19.6px;
  font-size: 0.875rem;
}

.task button {
  line-height: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-300);

  transition: color 0.1s;
}

.task button:hover {
  color: var(--danger);
}
